<div class="banner" style="height: 300px; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/group-young-people-cinema_23-2148115397.jpg?t=st=1716542282~exp=1716545882~hmac=b09e49fd0226290f37b0c651bbd4383e5a4feb811d139a2b6139d0283d9da877&w=900);">
  <div class="container">
    <h1>Movie Library</h1>
    <p>Make lists of your favorite movies</p>
    <a class="btn btn-light" href=<%= new_list_path %>>Create a new list</a>
  </div>
<div class="m-5 bg bg-light border border-rounded">
  <% @lists.each do |list| %>
    <div class="container">
      <div class="row">
        <div class="col-3 bg bg-dark bg-gradient m-3 text-center">
        <p id="list-title"><%= link_to list.name, list_path(list) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
