<div class="container my-4" style="width: 60 vw;">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
  <% end %>
</div>
